---
title: Journal List
description: The list of journals available on Sciveyor.
weight: 20
---

<h1>Journal List</h1>

<p>
  You can find here a searchable list of all journals currently available in
  Sciveyor, along with the data source page that describes them in more detail.
</p>

<script>
  function doListSearch() {
    // Declare variables
    var input, filter, table, tr, showm, tds, i, txtValue;
    input = document.getElementById("list-search");
    filter = input.value.toUpperCase();
    table = document.getElementById("list-table");
    tr = table.getElementsByTagName("tr");

    /* Loop through all table rows, and hide those without a match */
    for (i = 0; i < tr.length; i++) {
      show = false;
      tds = tr[i].getElementsByTagName("td");

      if (tds[0]) {
        txtValue = tds[0].textContent || tds[0].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          show = true;
        }
      }
      if (tds[1]) {
        txtValue = tds[1].textContent || tds[1].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          show = true;
        }
      }

      if (show) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>

<div class="book-search">
  <input
    type="text"
    id="list-search"
    onkeyup="doListSearch()"
    placeholder="Search for journals…"
  />
</div>

{{< journal-list >}}
