body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
