<table id="list-table">
  <thead>
    <tr>
      <th>Journal</th>
      <th>Data Source</th>
    </tr>
  </thead>
  <tbody>
    {{ range $journal, $source := $.Site.Data.journals.list }}
    <tr>
      <td>{{ $journal }}</td>
      <td>
        <a href="/source/{{ $source }}"><code>{{ $source }}</code></a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
